.catalog {
  background-color: #E9ECEF;
  padding: 20px 0;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding: 20px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

h1 {
  padding-left: 50px;
}